@font-face {
  font-family: 'Mantinia';
  src: url('../assets/fonts/Mantinia Regular/Mantinia Regular.otf') format('opentype');
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.9;
}

.weapon-wheel {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel-center {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #b08D57;
  box-shadow: 0 0 20px rgba(255, 165, 0, 0.7);
  cursor: pointer;
  z-index: 2;
}

.wheel-center img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wheel-item {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #b08D57;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.wheel-item svg {
  width: 40px;
  height: 40px;
  fill: #F5DEB3;
}

.platform-name {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  color: #F5DEB3;
  font-family: 'Mantinia', sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px 2px #3b2811;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.rotating-items-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate 20s linear infinite;
  z-index: 1;
}

.icon-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: rotate-counter 20s linear infinite;
}

@keyframes rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes rotate-counter {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}